name: Build and test

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  ubuntu-build:
    name: Build - Ubuntu
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-20.04', 'ubuntu-22.04']
        build_type: [Debug, Release]
        compiler: [{c: gcc, cxx: g++}]
        libbacktrace: ['-DVAL_USE_LIBBACKTRACE_BACKTRACE=OFF']
        pool_tracking: ['-DUMF_ENABLE_POOL_TRACKING=ON', '-DUMF_ENABLE_POOL_TRACKING=OFF']
        latency_tracking: ['-DUMF_ENABLE_LATENCY_TRACKING=OFF']
        include:
          - os: 'ubuntu-22.04'
            build_type: Release
            compiler: {c: clang, cxx: clang++}
            libbacktrace: '-DVAL_USE_LIBBACKTRACE_BACKTRACE=OFF'
          - os: 'ubuntu-22.04'
            build_type: Release
            compiler: {c: gcc, cxx: g++}
            libbacktrace: '-DVAL_USE_LIBBACKTRACE_BACKTRACE=ON'
          - os: 'ubuntu-22.04'
            build_type: Release
            compiler: {c: clang, cxx: clang++}
            libbacktrace: '-DVAL_USE_LIBBACKTRACE_BACKTRACE=ON'
          - os: 'ubuntu-20.04'
            build_type: Release
            compiler: {c: gcc-7, cxx: g++-7}
          - os: 'ubuntu-22.04'
            build_type: Release
            compiler: {c: clang, cxx: clang++}
            latency_tracking: '-DUMF_ENABLE_LATENCY_TRACKING=ON'
    runs-on: ${{ (matrix.os == 'ubuntu-22.04' && github.repository_owner == 'oneapi-src') && 'intel-ubuntu-22.04' || matrix.os }}

    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

    - name: Checkout UMF
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        repository: 'oneapi-src/unified-memory-framework'
        path: umf-repo
        fetch-depth: 0

    - name: Install apt packages
      run: |
        sudo apt-get update
        sudo apt-get install -y doxygen ${{matrix.compiler.c}}

    - name: Install libhwloc
      run: .github/scripts/install_hwloc.sh

    - name: Setup PATH
      run: echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Install g++-7
      if: matrix.compiler.cxx == 'g++-7'
      run: |
        sudo apt-get install -y ${{matrix.compiler.cxx}}

    - name: Install pip packages
      run: pip install -r third_party/requirements.txt

    - name: Install libbacktrace
      if: matrix.libbacktrace == '-DVAL_USE_LIBBACKTRACE_BACKTRACE=ON'
      run: |
        git clone https://github.com/ianlancetaylor/libbacktrace.git
        cd libbacktrace
        ./configure
        make
        sudo make install
        cd ..

    - name: Download DPC++
      if: matrix.os == 'ubuntu-22.04'
      run: |
        sudo apt install libncurses5
        wget -O ${{github.workspace}}/dpcpp_compiler.tar.gz https://github.com/intel/llvm/releases/download/nightly-2024-01-29/sycl_linux.tar.gz
        mkdir -p ${{github.workspace}}/dpcpp_compiler
        tar -xvf ${{github.workspace}}/dpcpp_compiler.tar.gz -C ${{github.workspace}}/dpcpp_compiler

    - name: Configure CMake UR
      if: matrix.os == 'ubuntu-22.04'
      run: >
        cmake
        -B${{github.workspace}}/build
        -DCMAKE_C_COMPILER=${{matrix.compiler.c}}
        -DCMAKE_CXX_COMPILER=${{matrix.compiler.cxx}}
        -DUR_ENABLE_TRACING=ON
        -DCMAKE_BUILD_TYPE=${{matrix.build_type}}
        -DUR_BUILD_TESTS=ON
        -DUR_FORMAT_CPP_STYLE=ON
        -DUR_DPCXX=${{github.workspace}}/dpcpp_compiler/bin/clang++
        -DUR_BUILD_ADAPTER_L0=ON
        ${{matrix.libbacktrace}}
        ${{matrix.pool_tracking}}
        ${{matrix.latency_tracking}}

    - name: Configure CMake UR
      if: matrix.os == 'ubuntu-20.04'
      run: >
        cmake
        -B${{github.workspace}}/build
        -DCMAKE_C_COMPILER=${{matrix.compiler.c}}
        -DCMAKE_CXX_COMPILER=${{matrix.compiler.cxx}}
        -DUR_ENABLE_TRACING=ON
        -DCMAKE_BUILD_TYPE=${{matrix.build_type}}
        -DUR_BUILD_TESTS=ON
        -DUR_FORMAT_CPP_STYLE=ON
        -DUR_BUILD_ADAPTER_L0=ON
        ${{matrix.libbacktrace}}
        ${{matrix.pool_tracking}}
        ${{matrix.latency_tracking}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build -j $(nproc)

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{matrix.build_type}} --output-on-failure -L "umf|loader|validation|tracing|unit|urtrace"

    - name: Test ipc
      working-directory: ${{github.workspace}}/build
      run: |
        ctest -C ${{matrix.build_type}} --output-on-failure -L "adapter-specific" || true
        ldd bin/test-adapter-level_zero_ipc || true

    - name: Configure UMF
      working-directory: ${{github.workspace}}/umf-repo
      run: >
        cmake
        -B build
        -DCMAKE_BUILD_TYPE=${{matrix.build_type}}
        -DCMAKE_C_COMPILER=${{matrix.compiler.c}}
        -DCMAKE_CXX_COMPILER=${{matrix.compiler.cxx}}
        -DUMF_BUILD_SHARED_LIBRARY=ON
        -DUMF_BUILD_LEVEL_ZERO_PROVIDER=ON
        -DUMF_BUILD_TESTS=OFF
        -DUMF_BUILD_EXAMPLES=OFF
        -DUMF_PROXY_LIB_BASED_ON_POOL=JEMALLOC
        -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/umf-install-dir

    - name: Build UMF
      working-directory: ${{github.workspace}}/umf-repo
      run: cmake --build build --config ${{matrix.build_type}} -j$(nproc)

    - name: Install UMF
      working-directory: ${{github.workspace}}/umf-repo
      run: cmake --install build --config ${{matrix.build_type}} --prefix "${{github.workspace}}/umf-install-dir"

    - name: Remove UMF redundant files
      working-directory: ${{github.workspace}}/umf-install-dir
      run: |
        rm -rf share/doc/umf/examples
        rm -rf include/umf/pools/pool_jemalloc.h
        rm -rf include/umf/pools/pool_proxy.h
        rm -rf include/umf/proxy_lib_new_delete.h
        rm -rf lib/cmake

    - name: Remove UMF from UR
      working-directory: ${{github.workspace}}/build
      run: |
        rm -rf lib/libumf.so*

    - name: Print content of the workspace
      run: ls -alR

    - name: Test ipc no LD
      working-directory: ${{github.workspace}}/build
      run: |
        ctest -C ${{matrix.build_type}} --output-on-failure -L "adapter-specific" || true
        ldd bin/test-adapter-level_zero_ipc || true

    - name: Test ipc w/ LD
      working-directory: ${{github.workspace}}/build
      run: |
        LD_LIBRARY_PATH="${{github.workspace}}/umf-install-dir/lib;/usr/local/lib/" ctest -C ${{matrix.build_type}} --output-on-failure -L "adapter-specific" || true
        LD_LIBRARY_PATH="${{github.workspace}}/umf-install-dir/lib;/usr/local/lib/" ldd bin/test-adapter-level_zero_ipc || true

  windows-build:
    name: Build - Windows
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-2019', 'windows-2022']
        adapter: [
          {name: None, var: ''}, {name: L0, var: '-DUR_BUILD_ADAPTER_L0=ON'},
          {name: None, var: ''}, {name: L0_V2, var: '-DUR_BUILD_ADAPTER_L0_V2=ON'}
        ]

        # TODO: building level zero loader on windows-2019 and clang-cl is currently broken
        exclude:
         - os: 'windows-2019'
           adapter: {name: L0, var: '-DUR_BUILD_ADAPTER_L0=ON'}
         - os: 'windows-2019'
           adapter: {name: L0_V2, var: '-DUR_BUILD_ADAPTER_L0_V2=ON'}
         - adapter: {name: L0, var: '-DUR_BUILD_ADAPTER_L0=ON'}
           compiler: {c: clang-cl, cxx: clang-cl}
         - adapter: {name: L0_V2, var: '-DUR_BUILD_ADAPTER_L0_V2=ON'}
           compiler: {c: clang-cl, cxx: clang-cl}

        build_type: [Debug, Release]
        compiler: [{c: cl, cxx: cl}, {c: clang-cl, cxx: clang-cl}]
        include:
          - compiler: {c: clang-cl, cxx: clang-cl}
            toolset: "-T ClangCL"
    runs-on: ${{matrix.os}}

    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

    - name: Checkout UMF
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        repository: 'oneapi-src/unified-memory-framework'
        path: umf-repo
        fetch-depth: 0

    - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
      with:
        python-version: 3.9

    - name: Install prerequisites
      run: python3 -m pip install -r third_party/requirements.txt

    - name: Install doxygen
      run: |
        $WorkingDir = $PWD.Path
        Invoke-WebRequest -Uri https://github.com/doxygen/doxygen/releases/download/Release_1_9_8/doxygen-1.9.8.windows.x64.bin.zip -OutFile "$WorkingDir\doxygen.zip"
        Expand-Archive -Path "$WorkingDir\doxygen.zip"
        Add-Content $env:GITHUB_PATH "$WorkingDir\doxygen"

    - name: Install hwloc
      run: vcpkg install hwloc:x64-windows

    - name: Configure CMake UR
      env:
        VCPKG_PATH: "C:/vcpkg/packages/tbb_x64-windows;C:/vcpkg/packages/jemalloc_x64-windows;C:/vcpkg/packages/hwloc_x64-windows"
      run: >
        cmake
        -B${{github.workspace}}/build
        ${{matrix.toolset}}
        -DCMAKE_PREFIX_PATH="${{env.VCPKG_PATH}}"
        -DCMAKE_C_COMPILER=${{matrix.compiler.c}}
        -DCMAKE_CXX_COMPILER=${{matrix.compiler.cxx}}
        -DCMAKE_POLICY_DEFAULT_CMP0094=NEW
        -DUR_ENABLE_TRACING=ON
        -DUR_DEVELOPER_MODE=ON
        -DUR_BUILD_TESTS=ON
        -DUR_FORMAT_CPP_STYLE=ON
        ${{matrix.adapter.var}}

    - name: Build all
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}} -j $Env:NUMBER_OF_PROCESSORS

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{matrix.build_type}} --output-on-failure -L "umf|loader|validation|tracing|unit|urtrace"

    - name: Print content of the workspace
      run: Get-ChildItem -Path .\ -Recurse -Force

    - name: Test ipc
      working-directory: ${{github.workspace}}/build
      run: |
        ctest -C ${{matrix.build_type}} --output-on-failure -L "adapter-specific" -ErrorAction SilentlyContinue
        dumpin.exe /DEPENDENTS build\bin\${{matrix.build_type}}\test-adapter-level_zero_ipc.exe -ErrorAction SilentlyContinue

    # UMF part
    - name: Vcpkg integrate
      working-directory: ${{github.workspace}}/umf-repo
      run: vcpkg integrate install

    - name: Install dependencies
      working-directory: ${{github.workspace}}/umf-repo
      run: vcpkg install --triplet x64-windows

    - name: Configure UMF
      env:
        VCPKG_PATH: "C:/vcpkg/packages/tbb_x64-windows;C:/vcpkg/packages/jemalloc_x64-windows;C:/vcpkg/packages/hwloc_x64-windows"
      working-directory: ${{github.workspace}}/umf-repo
      run: >
        cmake
        -B build
        -DCMAKE_PREFIX_PATH="${{env.VCPKG_PATH}}"
        -DCMAKE_C_COMPILER=${{matrix.compiler.c}}
        -DCMAKE_CXX_COMPILER=${{matrix.compiler.cxx}}
        -DUMF_BUILD_SHARED_LIBRARY=ON
        -DUMF_BUILD_LEVEL_ZERO_PROVIDER=ON
        -DUMF_BUILD_TESTS=OFF
        -DUMF_BUILD_EXAMPLES=OFF
        -DUMF_PROXY_LIB_BASED_ON_POOL=JEMALLOC
        -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/umf-install-dir

    - name: Build UMF
      working-directory: ${{github.workspace}}\umf-repo
      run: cmake --build build --config ${{matrix.build_type}} -j $Env:NUMBER_OF_PROCESSORS

    - name: Install UMF
      working-directory: ${{github.workspace}}\umf-repo
      run: cmake --install build --config ${{matrix.build_type}} --prefix "${{github.workspace}}\umf-install-dir"

    - name: Print content of the workspace
      run: Get-ChildItem -Path .\ -Recurse -Force

    - name: Remove UMF redundant files
      working-directory: ${{github.workspace}}\umf-install-dir
      run: |
        Remove-Item -Path "share\doc\umf\examples" -Recurse -Force -ErrorAction SilentlyContinue
        Remove-Item -Path "include\umf\pools\pool_jemalloc.h" -Force -ErrorAction SilentlyContinue
        Remove-Item -Path "include\umf\pools\pool_proxy.h" -Force -ErrorAction SilentlyContinue
        Remove-Item -Path "include\umf\proxy_lib_new_delete.h" -Force -ErrorAction SilentlyContinue
        Remove-Item -Path "lib\cmake" -Recurse -Force -ErrorAction SilentlyContinue

    - name: Remove UMF from UR
      working-directory: ${{github.workspace}}/build
      run: |
        Remove-Item -Path "lib\libumf.so*" -Recurse -Force -ErrorAction SilentlyContinue

    - name: Test ipc
      working-directory: ${{github.workspace}}/build
      run: |
        ctest -C ${{matrix.build_type}} --output-on-failure -L "adapter-specific" -ErrorAction SilentlyContinue
        dumpin.exe /DEPENDENTS build\bin\${{matrix.build_type}}\test-adapter-level_zero_ipc.exe -ErrorAction SilentlyContinue

    - name: Test ipc
      working-directory: ${{github.workspace}}/build
      run: |
        $env:PATH = "$env:PATH;${{github.workspace}}\umf-install-dir\bin;${{github.workspace}}\umf-install-dir\lib"
        $env:LIB = "$env:LIB;${{github.workspace}}\umf-install-dir\bin;${{github.workspace}}\umf-install-dir\lib"
        ctest -C ${{matrix.build_type}} --output-on-failure -L "adapter-specific" -ErrorAction SilentlyContinue
        dumpin.exe /DEPENDENTS build\bin\${{matrix.build_type}}\test-adapter-level_zero_ipc.exe -ErrorAction SilentlyContinue

  macos-build:
    name: Build - MacOS
    if: false
    strategy:
        matrix:
          os: ['macos-12', 'macos-13']
    runs-on: ${{matrix.os}}

    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

    - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
      with:
        python-version: 3.9

    - name: Install prerequisites
      run: python3 -m pip install -r third_party/requirements.txt

    - name: Install hwloc
      run: brew install hwloc

    - name: Configure CMake
      run: >
        cmake
        -B${{github.workspace}}/build
        -DUR_ENABLE_TRACING=ON
        -DUR_DEVELOPER_MODE=ON
        -DCMAKE_BUILD_TYPE=Release
        -DUR_BUILD_TESTS=ON
        -DUR_FORMAT_CPP_STYLE=ON
        -DUMF_ENABLE_POOL_TRACKING=ON
    - name: Build
      run: cmake --build ${{github.workspace}}/build -j $(sysctl -n hw.logicalcpu)
